PUID=
PGID=
TZ=

STORAGE_DIR=

KAPOWARR_TEMP_DOWNLOADS_DIR=
KAPOWARR_COMICS_DIR=
LINKARR_SOURCE_DIR=
LINKARR_ORGANIZED_DIR=

PROWLARR_PORT=
RADARR_PORT=
SONARR_PORT=
LIDARR_PORT=
WHISPARR_PORT=
KAPOWARR_PORT=
BAZARR_PORT=
FLARESOLVERR_PORT=
LINKARR_PORT=
BOXARR_PORT=
AGGREGARR_PORT=
